<article>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Titulo: {{ noticia.titulo }}
      </ion-card-title>
      <ion-card-subtitle>
        Fecha: {{ noticia.fecha }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          Categoría: {{ noticia.categoria }}
        </ion-item>
        <ion-item>
          {{ noticia.descripcion }}
        </ion-item>
        <ion-item>
          Fuente: {{ noticia.fuente }}
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>
</article>
